*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main>.left{
    background: rgb(255, 255, 76);
    padding: 1rem;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
main>.left legend{
    color: black;
    font-weight: 600;
    margin: 0.5rem 0;
}
main>.left fieldset{
    border: none;
    border-top: 1px dashed #000;
}

.btn{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: black;
    color: yellow;
    font-weight: 600;
    cursor: pointer;
}
/* resume */
main>.right{
    background: whitesmoke;
    overflow-y: auto;
    padding: 1rem;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
main>.right>.block1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
    width: 60vw;
    height: 100px;

}
.block2,.block3,.block4,.block5{
    width: 63vw;
}
.print{
    display: none;
}
#name,#project,#link,#company,#designation,#duration,#email,#phone,#github,#linkedin,#degree,#college,#startingyear,#endingyear,#cgpa{
    position: fixed;
    left: 200px;
    width: 17em;
} 
br{
    margin-bottom: 5em;
}
#startingyear,#endingyear{
    width: 17em;
}
#skill,#description1{
   position:relative;
   left: 120px;
   height: 5em;
}
#skill{
    width: 17em;
    left:9.6em;
}
#description1,#description2{
    position: relative;
    left: 38.5px;
    top: 1px;
    width: 17em;   
}

#skill-title{
    position: fixed;
    top: 250px;
}
#description1,#description2{
    position: relative;
    bottom: 50px;
}
.underline{
        width: 60em;
        border-bottom: 2px solid black;
}
.education,.experience-title,.project-title,.skill-title{
    color: rgb(160, 160, 160);
}
.email-style,.phone-style,.github-style,.linkedin-style{
    color: blue;
    font-size: 14px;
    margin: 0px 0px 0px 200px;
}
/*
.name-style{
    margin-top: 50px;
    position: relative;
    left: -5px;
    font-size: 1.5em;
    
}
.email-style{
    position: relative;
    left: -315px;
    bottom: -3.6px;
}
.phone-style{
    
    position: relative;
    right: 11.5rem;
    bottom: 13px;
}
.github-style{
    
    position: relative;
    bottom: 30px;
    left: -35px;
  
}
.linkedin-style{
    margin-left: 90px;
    position: relative;
    left: 16.1em;
    bottom: 3.3em;

}*/


#phone_resume {
    color: rgb(0, 74, 233);
}

#name_resume {
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    color: black;
    display: flex;
    margin-top: 30px;
    margin-left: 200px;
}

#github_resume,
#linkedin_resume {
    color: rgb(0, 74, 233);
    text-decoration: underline;
}

#email_resume {
    color: rgb(0, 74, 233);
}
/*
#degree_resume, 
#college_resume,
#startingyear_resume,
#endingyear_resume,
#cgpa_resume
{
    
}*/
